---
layout: default
---



<h1 class="page-heading">Projects</h1>

<ul class="post-list">
  {% for post in site.posts %}
    {% if post.layout == "project" %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
</ul>

<h1 class="page-heading">Blog Posts</h1>

<ul class="post-list">
  {% for post in site.posts %}
    {% if post.layout == "post" %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
</ul>

